doctype html
html(lang='en')
    head
        title Flash cards
        style.
            html {
                color: darkred;
                font-size: 16px;
            }

    body
        header
            h1 Flash cards