doctype html
html(lang='en')
    head
        title Flash cards

    body
        header
            h1 Flash cards  
        section#content
            h2 Welcome
        footer
            p the app to help you study
